.box{
    width:auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    color: black;
    margin: 20px;
}
/* body{
    background-color:burlywood;
} */